    <div class="col-md-6">
        <h3>Nouvel evenement !</h3>
        <h2>    <span>{{ event.title }}</span> </h2>

       <h1>  Visitez notre site web ou notre application pour plus de details</h1>
        <h3>Bonne journée.</h3>
    </div>