   
    <div class="col-md-6">
        <h3>Particpation effectué!</h3>
        <h2>    <span>{{ event.title }}</span> </h2>

       <h1>  Chère Madame / Cher Monsieur, vous etes bien inscrit à cet évenement </span>  </h1>
        <h3>Bonne journée.</h3>
    </div>