{% extends 'FrontOffice/base.html.twig' %}
{% block body %}
    <!-- ======= Breadcrumbs ======= -->


    <style>
        #hr {
            width: 100%;
            height: 100vh;
            background: url("/assets/img/recipe/rbbg.jfif") center center;
            background-size: cover;
            position: relative;
        }
        #hr .container {
            padding-top: 80px;
        }

        #hr:before {
            content: "";
            background: rgba(0, 0, 0, 0.6);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }

        #hr h1 {
            margin: 0 0 10px 0;
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            color: #fff;
        }

        #hr h2 {
            color: #eee;
            margin-bottom: 40px;
            font-size: 15px;
            font-weight: 500;
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        #hr .btn-get-started {
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 28px;
            transition: 0.5s;
            margin: 10px;
            border: 2px solid #fff;
            color: #fff;
        }

        #hr .btn-get-started:hover {
            background: #0b5a8c;
            border: 2px solid #0b5a8c;
        }

        @media (min-width: 1024px) {
            #hr {
                background-attachment: fixed;
            }
        }

        @media (max-width: 768px) {
            #hr {
                height: 100vh;
            }
            #hr .container {
                padding-top: 60px;
            }
            #hr h1 {
                font-size: 32px;
                line-height: 36px;
            }
        }
    </style>

    <section id="hr" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
            <font color="#fff" size="130">Your space for healthy recipes</font><br>
            <h2>Find the right recipes for the right lifestyle</h2><br>
            <a href="{{ path('allRecipeCategories')}}" class="btn-get-started scrollto">Discover More</a><br>

        </div>
    </section>



    <!-- End Recipes Section -->

{% endblock %}